
.vs/etoro-dane/v16/Browse.VC.db
.vs/etoro-dane/v16/Browse.VC.db-shm
.vs/etoro-dane/v16/ipch/AutoPCH/9867388a90d38f72/ETORO-DANE.ipch
.vs/etoro-dane/v16/Browse.VC.opendb
.vs/etoro-dane/v16/Browse.VC.db-wal
.vs/etoro-dane/v16/ipch/AutoPCH/bfb94246d165a834/ETORO-DANE.ipch
